* {
    transition: 150ms;
}

.header-pages {
    --header-bg: #6892c196;
    --text-color: #1E293B;
    --link-color: #1E293B;
    --link-hover: #333366;

    background-color: var(--header-bg);
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center;
    display: flex;
    width: 100%;

    &.dark {
        --text-color: #e2e3de;
        --header-bg: #112a4396;
        --link-color: #e2e3de;
        --link-hover: #00CA1E;
    }

    .logo {
        width: 4.5% !important;
        margin: 0.6rem;
    }


    .opcoes {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 50%;
        margin-left: 50%;
        gap: 30px;


        .column1 {
            width: auto;

            img {
                width: 30%;
                margin: 5px 0;
                transition: transform 0.75s ease-in-out;
            }

            h3 {
                font-size: 18px;
                color: var(--text-color);
            }
        }

        .column2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 10%;

            h3,
            #h3 {
                font-size: 23px;
                color: var(--link-color);

                .link {
                    text-decoration: none;
                    color: var(--link-color);
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header-pages {
        .logo {
            width: 8.5% !important;
            margin: 0.6rem;
        }

        .opcoes {
            gap: 15px;
            width: auto;
            margin-left: -40%;
            font-size: 0.6rem;

            .column1 {
                width: auto;

                img {
                    width: 20%;
                }

            }

            .column2 {

                h3,
                #h3 {
                    font-size: 1.2rem;
                }
            }

        }
    }
}